body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

.box {
    background: #000000bb;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: auto;
    max-width: 500px;
    margin: 1em;
}

#city {
    text-transform: capitalize;
}
  
#temperature {
    font-size: 4em;
}
  
#change {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
}

#change:hover {
    background-position: 100% 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}

.btn-hover-color {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}